@import '../../App.scss';

#spotify-login-container{
    font-family: $font-family2;
    border: 1px solid rgba(165, 201, 202, 0.5);
    border-radius: 15px;
    padding: 0.75rem;
    max-width: 50vw;

    * {
        font-family:$font-family2
    }
}

#spotify-logout-button{
    width:100%;
    border-radius:25px;
}